{% extends 'base/base.html' %}
{% load static %}

{% block 'title' %}
    Home
{% endblock %}

{% block 'classbody' %}
class="gradiente" 
{% endblock %}

{% block 'body' %}
    <div class="d-flex " style="height: 100%;">
        <div class="container align-self-center">
            <div class="col">
                <div class="col-md-12 text-center">
                    <img src="https://th.bing.com/th/id/OIP.9SiC0S9aWSIPYtLpxbvJ2AHaHa?rs=1&pid=ImgDetMain" alt="Imagem da Fatec Ribeirão Preto">
                </div>
            </div>
        </div>
    </div>
{% endblock %}